{% extends 'EmptyPageWithNavs.html.twig' %}

{% block title %}سرویس‌ها و خدمات{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="col-sm-10 mx-auto">
            <h1>سیستم مدیریت یکپارچه</h1>
            <p>با استفاده از راه‌کارهای سازمانی توسعه فناوری سرکش ما واقعیت‌های موجود سازمان را برای شما نمایان می‌کنیم.</p>
            <p>با استفاده از راهکارهای توسعه فناورری سرکش نیاز شما به استفاده از سامانه‌های مختلف برطرف خواهد شد.</p>
            <p>
                <a class="btn btn-primary" href="../../components/navbar/" role="button">اطلاعات بیشتر &raquo;</a>
            </p>
        </div>
    </div>
{% endblock %}