{% extends 'base.html.twig' %}

{% block title %}خرید امن از بهترین‌ها{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-2 text-center">
            <img src="{{ asset('images/alert-icon.png') }}" class="img-fluid">
        </div>
        <div class="col-10">
            <h3>نکاتی درباره خرید امن از بهترین‌ها</h3>
            <p>
                <b>امن خرید کنید:</b>
                <br>
                <ul>
                    <li>از کسانی خرید کنید که امکان ملاقات حضوری با آنها پیش از انجام معامله وجود داشته باشد.</li>
                    <li>هرگز پیش از دریافت کالا هزینه‌ای پرداخت نکنید.</li>
                    <li>اگر فروشنده اطلاعات شخصی یا اطلاعات حساب بانکی خود را ارائه کرد،‌ دلیل کافی برای اعتماد شما به ایشان نیست؛ ممکن است اطلاعات شخص دیگری مورد سوء‌استفاده قرار گرفته باشد.</li>
                    <li>در صورت امکان، پس از خرید کالا رسید کتبی معتبر از فروشنده دریافت کنید.</li>
                </ul>

                <b>بیشتر احتیاط کنید وقتی…</b>

            <ul>
                <li>قیمت و شرایط ارائه شده بیش از حد عالی به نظر می‌رسد.</li>
                <li>فروشنده یا خریداری که بی‌دلیل و به طرزی مشکوک اطلاعات حساب بانکی شما را می‌پرسد.</li>
                <li>می‌خواهید مبلغ قابل توجهی به کسی که نمی‌شناسید، بپردازید. سعی کنید در محلی امن مانند پایگاه‌های پلیس یا شعب بانک‌ها قرار بگذارید.</li>
            </ul>

            <b>به خاطر داشته باشید:</b>
            <ul>
                <li>بهتر است نقدی معامله کنید. چک و سفته ممکن است نقد نشوند.</li>
                <li>در مورد برخی کالاها بهتر است درخواست فاکتور خرید و احیاناً بسته‌بندی اولیه را از فروشنده داشته باشید.</li>
                <li>بهتر است قبل از تحویل کالا یا خودروی خود در ازای چک‌های رمزدار بانکی، با مراجعه به بانک مربوط از اصالت آن اطمینان حاصل کنید.</li>
                <li>در صورت ایجاد مزاحمت برای شما، می‌توانید با مراجعه به سایت پلیس فتا،‌ از اطلاعات تماس پلیس فتای محل سکونت خود آگاه شده و موضوع را از آن طریق پیگیری کنید.</li>
            </ul>
            </p>
        </div>
    </div>

{% endblock %}
