{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/mainWithNavs.css') }}" media="screen">
{% endblock %}
{% block PageTitle %}{% block title %}{% endblock %}{% endblock %}

{% block PageBody %}
    <div class="container-fluid">
        {% block body %}
        {% endblock %}
    </div>
{% endblock %}
