{% extends 'base.html.twig' %}

{% block title %}فرصت‌های شغلی{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-6 text-center">
            <img src="{{ asset('images/static/jobs.jpg') }}" class="img-fluid img-thumbnail">
        </div>
        <div class="col-6">
            <h3>
                کار در توسعه فناوری سرکش
            </h3>
            <p>
                برای شکوفایی خلاقیت‌ها و توان‌مندی‌های خود،  فرصت پیوستن به شرکت TFS برای شما وجود دارد.
            </p>
            <p>
                با توجه به گستردگی فعالیت‌های این گروه، دانش‌آموختگان و متخصصان حوزه‌های مختلف، می‌توانند دانش و پشتکار خود را در محیط پویا و پر جوش و خروش شرکت TFS به کارگیرند.
            </p>
            <p>
                آنچه در این بخش در اختیار شما قرار می‌گیرد، اطلاعاتی‌ست که تصویر کوچکی از محیط کار در شرکت TFS را ترسیم و شیوه‌ی پیوستن به این گروه را تشریح می‌کند.


                شرکت TFS جهت تصدی پست های سازمانی ذیل از افراد متخصص خلاق و علاقمند به یادگیری جهت فعالیت در محیطی پویا و جذاب، دعوت به همکاری می نماید.
            </p>
        </div>
        <div class="col-12">
            <p>
                <ul>
                    <li>
                        هنگامی که درخواست همکاری برای شرکت TFS ارسال شود،
                        درخواست و رزومه‌ی شما با رعایت محرمانه بودن، در واحد مربوطه مورد بررسی قرار خواهد گرفت.
                    </li>
                    <li>
                        پس از بررسی ,ممکن است جهت انجام مصاحبه حضوری با شما تماس گرفته شود و قرار جلسه‌ی مصاحبه تنظیم گردد.
                    </li>
                </ul>

                چنانچه ارزیابی اولیه‌ی رزومه‌ی شما مثبت باشد و جایگاه شغلی مشخصی برای شما در نظر گرفته شود،
                جلسات مصاحبه‌ی عمومی و تخصصی با شما برگزار خواهد شد تا برای پیوستن شما به شرکت TFS تصمیم‌گیری شود.
                گزینه‌های مختلفی برای ارسال رزومه و درخواست همکاری وجود دارد:
            </p>
            <p class="text-danger">
                بهترین و سریعترین راه ارسال رزومه پست الکترونیکی Jobs@sarkesh.org می‌باشد.
            </p>
        </div>
    </div>

{% endblock %}
