{% extends 'base.html.twig' %}

{% block title %}شرایط پیوستن به شرکت{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-6 text-center" style="padding-bottom: 100px;">
            <p class="text-danger">با عرض پوزش در حال حاضر ظرفیت پذیرش وجود ندارد.</p>
        </div>
    </div>

{% endblock %}
